.robots{
  display: flex;
  flex-flow: row wrap;
}

.robotBox{
  border: 1px solid black;
  flex-grow: 1;
  margin: 5px;
  width: 200px;
}

.top_name{
  color: blue;
}



.robotBottom{
  border-radius: 360px;
  border: 1px solid black
}


.imageBottom{
  border-radius: 360px;
  border: 1px solid gray;
  margin-right: 10px;
}

.bottomSection{
  margin-left: 30%;
  margin-top: 8%;

}

.bottomBox{
  margin-left: 10%;
}
